@import url('https://fonts.googleapis.com/css?family=Voltaire');
html,
body {
  height: 100%;
  
}

body {
  text-align: center;
  font-family: voltaire, sans-serif;
  color: white;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-stars-on-black-background_41x3vg3x__F0000.png");
  
}

#wrapper {
  width: 960px;
  min-height: 80%;
  box-sizing: border-box;
  padding: 5% 0;
  margin: 5% auto;
  background-image: url("../images/wrapper-bg.jpg");
  

}

#sub-wrapper {
  position: relative;
  top: 20%;
}

button {
  display: block;
  width: 400px;
  height: 100px;
  margin: 10px auto 0;
  font-size: 42px;
  cursor: url("../images/pointer3.png"), pointer;
  background: white;
  border: 0;
}

h1 {
  margin-bottom: 50px;
  font-family: voltaire, sans-serif;
  font-size: 5.5em;
  font-weight: bold;
  color: rgb(253, 243, 98);
  text-shadow: 2px 3px blue;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/IjFi-wx/moving-stars-on-black-background_41x3vg3x__F0000.png");
  font-style: italic;
  margin: auto;
  

}

header{
    background-image: url("https://cdn1-www.superherohype.com/assets/uploads/2013/12/file_180663_0_star-trek-logo-header.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    color: transparent;
    font-size: 5.0em;
}


h2 {
  margin-bottom: 25px;
  font-size: 35px;
  text-shadow: 2px 3px blue;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
  text-shadow: 2px 3px blue;
}

#start {
  margin-top: 10%;
  background-image: url("../images/pattern.png");
  border: 2px solid blue;
  color: white;
}

#quiz-area {
  text-shadow: 2px 2px blue;
}

#quiz-area h2 {
  margin-top: 50px;
  text-shadow: 2px 2px blue;
}

button:hover {
  background: white;
  border: 2px solid blue;
}
